.order {
	background: url(@/images/order_bg.png) no-repeat top center ;
	padding-bottom: 180px;
	overflow: hidden;
	&__container {
		position: relative;
	}
	&__title {
		text-align: center;
	}
	&__image {
		position: absolute;
		top: 0;
		right: calc(100% - 764px);
		z-index: -1;
	}
	* + &__form {
		margin-top: 60px;
	}
}

.order-form {
		max-width: 426px;
		padding: 60px 40px;
		border-radius: 16px;
		border: 1px solid $color-dark-grey;
		background: $color-cards;
		margin-left: 674px;
		&__title {
			@extend p
		}
		&__inputs {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		&__input {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 62px;
			border-radius: 8px;
			background: linear-gradient(95.61deg, #DA8023 0%, #E2b438 100%);
			input {
				padding: 10px;
				background-color: #211A16;
				border-radius: 8px;
				width: calc(100% - 2px);
				height: calc(100% - 2px);
				border: 1px solid transparent;
				outline: none;
				color: $color-light;
			}
		}
		* + &__inputs {
			margin-top: 40px;
		}
}