$font-size: 16px;
$Gilroy: 'Gilroy', sans-serif;
$Merriweather: 'Merriweather', sans-serif;

$color-light: #fff;
$color-dark: #191411;
$color-red: #D3320F;
$color-grey: #757575;
$color-dark-grey: #353535;
$color-cards: #211A16;